/* cssreset */
div,ul,li,h1,h2,p,a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
h2 {
    font: 20px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
    font-weight: bold;
}
/* 头部导航条 */
.top-bar {
    background-color: #545454;
    font-size: 12px; 
}
.top-bar li {
    float: left;
    margin: 0 10px;
    padding: 4px 0;
}
.top-bar li a {
    color: #fff;
}
.top-bar .top-nav {
    float: left;
}
.top-bar .usersdata {
    float: right;
}
/* main-nav */
.main-nav {
    background-color: #ecf4ed;
    width: 760px;
    margin: 0 auto;
}
.main-nav .logo {
    background: url(logo.png) no-repeat;
    background-position: 0px 0;
    background-size: 159px 35px;
    width: 159px;
    height: 35px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    margin: 20px 20px;
}
.main-nav-links {
    float: left;
}
/* 使用border，则超出div.main-nav，会使“日记” 受浮动影响，但已经clearfix*/
.main-nav-links li {
    float: left;
    margin: 0 10px;
    line-height: 1.5;
    padding: 28px 0;  
}
.main-nav-links li a {
    color: #2e963d;
}
.main-nav-links li a:hover,.main-nav-links li a:active {
    color: #fff;
    background-color: #2e963d;
}
.main-nav .search-bar {
    border: 1px solid #e2e9e1;
    float: right;
    background-color: #fff;
    margin: 25px 20px;
}
.main-nav .search-bar input {
    border: none;
    background-color: #fff;
    padding: 6px;
}
.section-dairy {
    width: 760px;
    margin: 10px auto;
}
.section-dairy li .avatar {
    float: left;
}
.section-dairy li .avatar span {
    display: block;
    width: 48px;
    height: 48px;
    background: url(avatar.png);
    background-size: 48px 48px;
    margin: 0 20px;
}
.section-dairy li .main {
    overflow: hidden;
    width: 672px;
}
.section-dairy li .main div,.section-dairy li .main p {
    padding: 5px 0;
}
.section-dairy li span {
    color: #aaaaaa;
}
.section-dairy li .main .summary {
    background-color: #f9f9f9;
    padding: 10px;
}
.section-dairy li .summary a {
    color: #3376aa;
    font-size: 1.1em;
}
.section-dairy li .summary a:hover {
    background-color: #3376aa;
    color: #fff;
}
.section-time {
    width: 760px;
    margin: 0 auto;
}
.section-time h2 a {
    font-size: 16px;
    color: #3376aa;
    font-weight: bold;
}
.section-time li {
    margin-right: 60px;
    margin-bottom: 30px;
    width: 100px;
    text-align: center;
    float: left;
}
.section-time li a {
    display: block;
    margin-bottom: 10px;
}
.section-time li a.title:hover {
    background-color: #3376aa;
    color: #fff;
}
.section-time li div span {
    color: #999;
}