div,ul,li,a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.section-share {
    width: 700px;
    margin: 0 auto;
}
.section-share .bar {
    display: flex;
    justify-content: space-between;
}
.section-share .nav {
    display: flex;
    justify-content: flex-start;
}
.section-share .nav li {
    padding: 0 15px 3px 17px;
    background: url(2css_sprites.png) no-repeat -3px -136px;
    background-size: 20px;
}
.section-share .nav li:nth-child(2) {
    background-position: -3px -96px;
}
.section-share .nav li:nth-child(3) {
    background-position: -3px -75px;
}
.section-share .nav li:nth-child(4) {
    background-position: -7px -84px;
    background-size: 28px;
}
.section-share .nav a {
    color: black;
    font-size: 12px;
}
.section-share .set {
    color: black;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    background: url(2css_sprites.png) no-repeat 0 -36px;
    background-size: 20px;
}
.section-share .search-bar {
    display: flex;
    border: 1px solid #545454;
    align-items: center;
}
.section-share .search-bar input {
    border: none;
    flex: 1;
    padding: 5px;
    font-size: 12px;
}
.section-share .search-bar a {
    background: url(2css_sprites.png) no-repeat 0px -16px;
    background-size: 20px;
    height: 20px;
    width: 25px;
    flex: none;
}
.section-share .search-bar a:nth-child(2) {
    background-position: 3px -118px;
}